In [1]:
#!/usr/bin/env python
# -*- coding:utf-8 -*-
__author__ = 'Author'
__email__ = 'Email'

# Detecting Contradiction at the Lexical Level
## Wiki

In [2]:
# dependency
# built-in
import os, time, random, string, requests, unicodedata

# public
import torch
from tqdm import tqdm
import pandas as pd
import torch.nn.functional as F
# # private
from config import Config


%load_ext autoreload
%autoreload 2
%config Completer.use_jedi = False

## I/O

In [3]:
config = Config()
for k,v in config.__dict__.items():
    print(f'{k}: {v}')

seed: 0
llm: Llama3.1-8B
CURR_PATH: ./
RESOURCE_PATH: ./res
DATA_PATH: ./res/data
RESULTS_PATH: ./res/results
LLMS_PATH: ./res/llms
LLM_PATH: ./res/llms/Llama3.1-8B
HF_LLMS_PATH: ./res/hf_llms
HF_LLM_PATH: ./res/hf_llms/Llama3.1-8B

# Helpder

In [4]:
# remove_punctuations
def remove_punctuations(text):
    puns = string.punctuation + '《》【】、，。！？：；“”‘’（）…￥'
    return text.translate(str.maketrans('', '', puns))

def normalize_text(text):
    return unicodedata.normalize('NFKD', text).encode('ASCII', 'ignore').decode('ASCII')

# Wiki Data
## Create a random sample

In [5]:
# init
size = 50

In [6]:
# load data
raw_capital_df = pd.read_csv('res/data/wiki/raw_capital.tsv', sep='\t')
raw_capital_df.head()

  wikidata_id  country   capital                     source
0         Q16   Canada    Ottawa   The capital of Canada is
1         Q17    Japan     Tokyo    The capital of Japan is
2         Q20   Norway      Oslo   The capital of Norway is
3         Q27  Ireland    Dublin  The capital of Ireland is
4         Q28  Hungary  Budapest  The capital of Hungary is

In [7]:
# random_sample
def random_sample(df, size):
    df = df.sample(size, random_state=0)
    df = df.reset_index(drop=True)
    return df

In [8]:
sample_df = random_sample(raw_capital_df, size)
sample_df = sample_df.reset_index(drop=True)
sample_df.head()

  wikidata_id      country   capital                         source
0        Q233        Malta  Valletta        The capital of Malta is
1        Q262      Algeria   Algiers      The capital of Algeria is
2        Q889  Afghanistan     Kabul  The capital of Afghanistan is
3         Q33      Finland  Helsinki      The capital of Finland is
4        Q736      Ecuador     Quito      The capital of Ecuador is

In [9]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   wikidata_id  50 non-null     object
 1   country      50 non-null     object
 2   capital      50 non-null     object
 3   source       50 non-null     object
dtypes: object(4)
memory usage: 1.7+ KB

In [10]:
# save
sample_df.to_csv('res/data/wiki/capital50.tsv', sep='\t', index=False)

## Preprocess the set

In [11]:
sample_df = pd.read_csv('res/data/wiki/capital50.tsv', sep='\t')
sample_df.head()

  wikidata_id      country   capital                         source
0        Q233        Malta  Valletta        The capital of Malta is
1        Q262      Algeria   Algiers      The capital of Algeria is
2        Q889  Afghanistan     Kabul  The capital of Afghanistan is
3         Q33      Finland  Helsinki      The capital of Finland is
4        Q736      Ecuador     Quito      The capital of Ecuador is

In [12]:
# normalize
sample_df['country'] = sample_df['country'].apply(lambda x: normalize_text(x))
sample_df['capital'] = sample_df['capital'].apply(lambda x: normalize_text(x))

In [25]:
sample_df.head(20)

,wikidata_id,country,capital,source
0,Q233,Malta,Valletta,The capital of Malta is
1,Q262,Algeria,Algiers,The capital of Algeria is
2,Q889,Afghanistan,Kabul,The capital of Afghanistan is
3,Q33,Finland,Helsinki,The capital of Finland is
4,Q736,Ecuador,Quito,The capital of Ecuador is
5,Q664,New Zealand,Wellington,The capital of New Zealand is
6,Q29,Spain,Madrid,The capital of Spain is
7,Q398,Bahrain,Manama,The capital of Bahrain is
8,Q1013,Lesotho,Maseru,The capital of Lesotho is
9,Q854850,Bharatpur State,Bharatpur,The capital of Bharatpur State is
10,Q1014,Liberia,Monrovia,The capital of Liberia is
11,Q846,Qatar,Doha,The capital of Qatar is
12,Q657,Chad,N'Djamena,The capital of Chad is
13,Q1246,Kosovo,Prishtina,The capital of Kosovo is
14,Q1007,Guinea-Bissau,Bissau,The capital of Guinea-Bissau is
15,Q26273,Sint Maarten,Philipsburg,The capital of Sint Maarten is
16,Q965,Burkina Faso,Ouagadougou,The capital of Burkina Faso is
17,Q1000,Gabon,Libreville,The capital of Gabon is
18,Q826,Maldives,Male,The capital of Maldives is
19,Q971,Republic of the Congo,Brazzaville,The capital of Republic of the Congo is

In [26]:
# save
sample_df.to_csv('res/data/wiki/capital50.tsv', sep='\t', index=False)

## Create a CON version

In [49]:
sample_df.head()

  wikidata_id      country   capital                         source
0        Q233        Malta  Valletta        The capital of Malta is
1        Q262      Algeria   Algiers      The capital of Algeria is
2        Q889  Afghanistan     Kabul  The capital of Afghanistan is
3         Q33      Finland  Helsinki      The capital of Finland is
4        Q736      Ecuador     Quito      The capital of Ecuador is

In [50]:
idxes = sample_df['wikidata_id'].tolist()

In [45]:
random.seed(config.seed)

ids, cos, cas, ps, hs, ys = [], [], [], [], [], []
country_list = sample_df['country'].tolist()
capital_list = sample_df['capital'].tolist()
for i, co, ca in zip(idxes, country_list, capital_list):
    ca_ = random.choice([_ for _ in capital_list if _ != ca])
    p = f'The capital of {co} is {ca}.'
    h = p
    h_ = f'The capital of {co} is {ca_}.'
    ps += [p, p]
    hs += [h, h_]
    ys += [False, True]
    ids += [i, i]
    cos += [co, co]
    cas += [ca, ca_]

In [48]:
# create a df
con_df = pd.DataFrame()
con_df['wikidata_id'] = ids
con_df['country'] = cos
con_df['capital'] = cas
con_df['premise'] = ps
con_df['hypothesis'] = hs
con_df['label'] = ys

In [47]:
# save as tsv
con_df.to_csv('res/data/wiki/capital50_con.tsv', sep='\t', index=False)

# Load SemEval25 Task2 Data

In [5]:
# jsonl path
zh_jsonl = 'res/data/semeval25task2/zh_T2S.jsonl'
# load jsonl 
raw_df = pd.read_json(zh_jsonl, lines=True)
raw_df.head()

,id,wikidata_id,entity_types,source,targets,source_locale,target_locale
0,Q1036741_0,Q1036741,[Food],Are soybean sprouts a common ingredient in Asi...,"[{'translation': '黄豆芽是亚洲美食的常见食材吗？', 'mention':...",en,zh
1,Q1036741_1,Q1036741,[Food],What are the health benefits of consuming soyb...,"[{'translation': '食用黄豆芽对健康有什么好处？', 'mention': ...",en,zh
2,Q1036741_2,Q1036741,[Food],Can soybean sprouts be grown at home?,"[{'translation': '黄豆芽可以在家里种植吗？', 'mention': '黄...",en,zh
3,Q104007933_0,Q104007933,[Movie],How long is the runtime of Munich: The Edge of...,"[{'translation': '慕尼黑交锋》的片长是多少？', 'mention': '...",en,zh
4,Q104007933_1,Q104007933,[Movie],What is the genre of the movie Munich: The Edg...,"[{'translation': '电影慕尼黑交锋》属于什么类型？', 'mention':...",en,zh

In [6]:
# get metion column from tergats column
raw_df['mention'] = raw_df['targets'].apply(lambda x: x[0]['mention']).apply(remove_punctuations)
raw_df.head()

,id,wikidata_id,entity_types,source,targets,source_locale,target_locale,mention
0,Q1036741_0,Q1036741,[Food],Are soybean sprouts a common ingredient in Asi...,"[{'translation': '黄豆芽是亚洲美食的常见食材吗？', 'mention':...",en,zh,黄豆芽
1,Q1036741_1,Q1036741,[Food],What are the health benefits of consuming soyb...,"[{'translation': '食用黄豆芽对健康有什么好处？', 'mention': ...",en,zh,黄豆芽
2,Q1036741_2,Q1036741,[Food],Can soybean sprouts be grown at home?,"[{'translation': '黄豆芽可以在家里种植吗？', 'mention': '黄...",en,zh,黄豆芽
3,Q104007933_0,Q104007933,[Movie],How long is the runtime of Munich: The Edge of...,"[{'translation': '慕尼黑交锋》的片长是多少？', 'mention': '...",en,zh,慕尼黑交锋
4,Q104007933_1,Q104007933,[Movie],What is the genre of the movie Munich: The Edg...,"[{'translation': '电影慕尼黑交锋》属于什么类型？', 'mention':...",en,zh,慕尼黑交锋

In [7]:
# get the wikidata_id
wiki_ids = raw_df['wikidata_id'].unique()
print(f'wiki_ids: {len(wiki_ids)}')

wiki_ids: 250

In [8]:
# get the entity types
entity_types = raw_df['entity_types']
entity_types = [i[0] for i in entity_types]
entity_types = set(entity_types)
print(f'entity_types: {entity_types}')

entity_types: {'Person', 'Food', 'TV series', 'Musical work', 'Fictional entity', 'Landmark', 'Place of worship', 'Book', 'Book series', 'Movie', 'Artwork'}

## Movie Director

In [9]:
# get wikidata id if it type is Movie
movie_wiki_ids = raw_df[raw_df['entity_types'].apply(lambda x: x[0]) == 'Movie']['wikidata_id'].unique()
print(f'movie_wiki_ids: {len(movie_wiki_ids)}')

movie_wiki_ids: 32

In [10]:
# process the raw df to keep only the movie entities
movie_df = raw_df[raw_df['wikidata_id'].isin(movie_wiki_ids)]
movie_df.head()

,id,wikidata_id,entity_types,source,targets,source_locale,target_locale,mention
3,Q104007933_0,Q104007933,[Movie],How long is the runtime of Munich: The Edge of...,"[{'translation': '慕尼黑交锋》的片长是多少？', 'mention': '...",en,zh,慕尼黑交锋
4,Q104007933_1,Q104007933,[Movie],What is the genre of the movie Munich: The Edg...,"[{'translation': '电影慕尼黑交锋》属于什么类型？', 'mention':...",en,zh,慕尼黑交锋
5,Q104007933_2,Q104007933,[Movie],When was Munich: The Edge of War released?,"[{'translation': '慕尼黑交锋》是什么时候上映的？', 'mention':...",en,zh,慕尼黑交锋
36,Q116313532_0,Q116313532,[Movie],Who are the main actors in the movie Till the ...,"[{'translation': '电影直至晚上终结中的主要演员是谁？', 'mention...",en,zh,直至晚上终结
37,Q116313532_1,Q116313532,[Movie],When was the movie Till the End of the Night r...,"[{'translation': '电影直至晚上终结什么时候上映？', 'mention':...",en,zh,直至晚上终结

In [11]:
# take one example
wiki_id = movie_wiki_ids[0]
print(f'wiki_id: {wiki_id}')

wiki_id: Q104007933

In [12]:
def get_director(wiki_id):
  # director of a movie
  # query = f"""
  # SELECT ?director ?directorLabel WHERE {{
  #   wd:{wiki_id} wdt:P57 ?director.
  #   SERVICE wikibase:label {{ bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }}
  # }}
  # """

  query = f"""
  SELECT ?movieLabel ?directorLabel WHERE {{
    wd:{wiki_id} wdt:P57 ?director.
    BIND(wd:{wiki_id} AS ?movie)
    SERVICE wikibase:label {{ bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }}
  }}
  """

  url = "https://query.wikidata.org/sparql"
  headers = {"Accept": "application/json"}
  response = requests.get(url, params={"query": query}, headers=headers)
  data = response.json()

  # Parse the results
  results = data.get("results", {}).get("bindings", [])
  
  time.sleep(1)

  movie_name = results[0]['movieLabel']['value']
  directors = {r['directorLabel']['value'] for r in results}
  
  return movie_name, directors

In [13]:
# get the director of all the wiki_ids
results_dict = {}
for i in movie_wiki_ids:
  results_dict[i] = get_director(i)

In [14]:
# process the director value into a string
results_dict = {k: (v[0], ', '.join(v[1])) for k, v in results_dict.items()}

In [15]:
# take a sample
results_dict[list(results_dict.keys())[0]]

('Munich: The Edge of War', 'Christian Schwochow')

In [16]:
# convert the results_dict to a dataframe without index
results_df = pd.DataFrame.from_dict(results_dict, orient='index').reset_index()
results_df.head()

        index                          0                      1
0  Q104007933    Munich: The Edge of War    Christian Schwochow
1  Q116313532  Till the End of the Night  Christoph Hochhäusler
2    Q1214749         A Day at the Races               Sam Wood
3    Q1216050                 Snow Queen               David Wu
4    Q1345583  The Bad and the Beautiful      Vincente Minnelli

In [17]:
# remove the index and keep the first two columns
results_df = results_df.iloc[:, :3]
results_df.columns = ['wikidata_id', 'movie', 'director']
results_df.head()

  wikidata_id                      movie               director
0  Q104007933    Munich: The Edge of War    Christian Schwochow
1  Q116313532  Till the End of the Night  Christoph Hochhäusler
2    Q1214749         A Day at the Races               Sam Wood
3    Q1216050                 Snow Queen               David Wu
4    Q1345583  The Bad and the Beautiful      Vincente Minnelli

In [18]:
# concat results_df to movie_df
movie_df = movie_df.merge(results_df, on='wikidata_id', how='left')
movie_df.head()

,id,wikidata_id,entity_types,source,targets,source_locale,target_locale,mention,movie,director
0,Q104007933_0,Q104007933,[Movie],How long is the runtime of Munich: The Edge of...,"[{'translation': '慕尼黑交锋》的片长是多少？', 'mention': '...",en,zh,慕尼黑交锋,Munich: The Edge of War,Christian Schwochow
1,Q104007933_1,Q104007933,[Movie],What is the genre of the movie Munich: The Edg...,"[{'translation': '电影慕尼黑交锋》属于什么类型？', 'mention':...",en,zh,慕尼黑交锋,Munich: The Edge of War,Christian Schwochow
2,Q104007933_2,Q104007933,[Movie],When was Munich: The Edge of War released?,"[{'translation': '慕尼黑交锋》是什么时候上映的？', 'mention':...",en,zh,慕尼黑交锋,Munich: The Edge of War,Christian Schwochow
3,Q116313532_0,Q116313532,[Movie],Who are the main actors in the movie Till the ...,"[{'translation': '电影直至晚上终结中的主要演员是谁？', 'mention...",en,zh,直至晚上终结,Till the End of the Night,Christoph Hochhäusler
4,Q116313532_1,Q116313532,[Movie],When was the movie Till the End of the Night r...,"[{'translation': '电影直至晚上终结什么时候上映？', 'mention':...",en,zh,直至晚上终结,Till the End of the Night,Christoph Hochhäusler

In [19]:
# generate the column quesiton
template = 'Who is the director of the movie {}?'
questions = [template.format(i) for i in movie_df['movie']]
movie_df['question'] = questions
movie_df.head()

,id,wikidata_id,entity_types,source,targets,source_locale,target_locale,mention,movie,director,question
0,Q104007933_0,Q104007933,[Movie],How long is the runtime of Munich: The Edge of...,"[{'translation': '慕尼黑交锋》的片长是多少？', 'mention': '...",en,zh,慕尼黑交锋,Munich: The Edge of War,Christian Schwochow,Who is the director of the movie Munich: The E...
1,Q104007933_1,Q104007933,[Movie],What is the genre of the movie Munich: The Edg...,"[{'translation': '电影慕尼黑交锋》属于什么类型？', 'mention':...",en,zh,慕尼黑交锋,Munich: The Edge of War,Christian Schwochow,Who is the director of the movie Munich: The E...
2,Q104007933_2,Q104007933,[Movie],When was Munich: The Edge of War released?,"[{'translation': '慕尼黑交锋》是什么时候上映的？', 'mention':...",en,zh,慕尼黑交锋,Munich: The Edge of War,Christian Schwochow,Who is the director of the movie Munich: The E...
3,Q116313532_0,Q116313532,[Movie],Who are the main actors in the movie Till the ...,"[{'translation': '电影直至晚上终结中的主要演员是谁？', 'mention...",en,zh,直至晚上终结,Till the End of the Night,Christoph Hochhäusler,Who is the director of the movie Till the End ...
4,Q116313532_1,Q116313532,[Movie],When was the movie Till the End of the Night r...,"[{'translation': '电影直至晚上终结什么时候上映？', 'mention':...",en,zh,直至晚上终结,Till the End of the Night,Christoph Hochhäusler,Who is the director of the movie Till the End ...

In [20]:
# save movie_df as tsv
movie_df.to_csv('res/data/semeval25task2/movie.tsv', sep='\t', index=False)